/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Default CSS */

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    background: #0C1018;
    color: #ffffff;
}

img  {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
}

p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: 500;
    -webkit-transition: color 350ms ease-in-out;
    -moz-transition: color 350ms ease-in-out;
    -ms-transition: color 350ms ease-in-out;
    -o-transition: color 350ms ease-in-out;
    transition: color 350ms ease-in-out;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
title {
    text-transform: capitalize;
}

:root {
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --primary-color: #367BF5;
    --secondary-color: #F3AA18;
    --black-color: #000;
    --lightblack: #222222;
    --white-color: #fff;
    --darkgrey: #868686;
    --lightgrey: #636363;
    --green: #069697;
    --red: #EA3D2F;
}

.green {
    color: var(--green) !important;
}

.lightblack {
    color: var(--lightblack) !important;
}

.blue {
    color: var(--primary-color) !important;
}

.red {
    color: var(--red) !important;
}
.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
/* main css start */

.ed-login-section {
    width: 100%;
    height: 100vh;
}
.ed-login-section::before { 
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    background-image: url(../img/home/Exclude.png);
    width: 443px;
    height: 341px;
    background-size: contain;
    z-index: -1;
}
.ed-login-section .row {
     margin: 0px;
    padding: 0px;
}
.ed-login-section .ed-login-form-sec {
    overflow-y: auto;
    height: 100vh;
}
.ed-login-form-sec::-webkit-scrollbar {
    width: 6px
  }
  
  .ed-login-form-sec::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #fff
  }
  
  .ed-login-form-sec::-webkit-scrollbar-thumb {
    background-color: #b1b1b1;
    outline: 1px solid #b1b1b1
  }


.ed-login-section .ed-login-image {
    position: relative;
}
.ed-login-section .ed-login-image::after { 
    position: absolute;
    content: '';
    bottom: 0px;
    left: -447px;
    background-image: url(../img/home/Exclude2.png);
    width: 447px;
    height: 395px;
    background-size: contain;
    z-index: -1;
}
.ed-login-section .ed-login-image img {
    width: 100%;
    height: 100vh;
}
.ed-login-box-sec {
    margin: 120px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 60px;
}
.ed-login-box-sec .ed-login-form {
    border-radius: 20px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.ed-login-box-sec .ed-login-form label {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}
.ed-login-box-sec .ed-login-form .form-control {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 14px 20px;
    color: #ffffff;
    border-radius: 10px;
}
.ed-login-box-sec .ed-login-form .form-check-input:focus,
.ed-login-box-sec .ed-login-form .form-control:focus {
    box-shadow: none;
}
.ed-login-box-sec .ed-login-form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.3);   
    font-weight: 300;
}
.ed-login-box-sec .ed-login-form .form-check-label {
    color: rgba(255, 255, 255, 0.3);   
    font-weight: 300;
}
.ed-login-box-sec .ed-login-form .form-check-input {
    --bs-form-check-bg: #0c1018;
}
.ed-login-box-sec .ed-login-form .form-check-input:checked {
    background-color: #89979a;
    border-color: #89979a;
}
.ed-login-box-sec .ed-login-form .btn-outline-primary {
    padding: 14px 20px;
    --bs-btn-color: #0384FE;
    --bs-btn-border-color: #0384FE;
}
.ed-login-box-sec .forget-password p {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
}
.ed-login-box-sec .forget-password p a {
    color: #0384FE;
    padding-left: 5px;
}
.ed-login-box-sec .iti {
    width: 100%;
}
.ed-login-box-sec .en-logo {
    position: relative;
}
.ed-login-box-sec .en-logo .back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}
.ed-login-box-sec .ed-login-form .otp-sec p {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
}
.ed-login-form .otp-sec .otp-round {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.ed-login-form .otp-sec .otp-round .form-control { 
    width: 10%;
    background-color: #ffffff;
    color: #000000;
}

/* Dashboard page CSS start  */

.app-sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 100%;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    padding: 40px 20px;
    border-right: 1px solid #4c5a743d;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    z-index: 11;
}
.app-sidebar.hidden {
    margin-left: -320px;
}
.app-sidebar .logo-sec img {
    width: 200px;
}
.main-content.app-content.full-width {
    margin-left: 0;
    max-width: 100%;
}
.app-sidebar .profile-header {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin: 20px 0px;
    border-bottom: 1px solid #181818;
}
.app-sidebar .profile-header img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.app-sidebar .profile-header h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    padding-top: 15px;
}
.app-sidebar .profile-header p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}
.app-sidebar .sidebar-nav {
    position: relative;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100vh + -250px);
}
.app-sidebar nav.sidebar-nav.bottom-nav {
    border-top: 1px solid #4c5a743d;
    position: fixed;
    bottom: 0px;
    height: auto;
    width: 240px;
    background: #0c1018;
}
.app-sidebar nav.sidebar-nav.bottom-nav button {
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.app-sidebar nav.sidebar-nav::-webkit-scrollbar {
    width: 4px;
  }
  .app-sidebar nav.sidebar-nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #1F2937;
  }
  .app-sidebar nav.sidebar-nav::-webkit-scrollbar-thumb {
    background-color: #1F2937;
    outline: 1px solid #1F2937;
  }
.sidebar-nav .list-inline li {
    padding: 20px;
}
.sidebar-nav .list-inline li a {
    width: 100%;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.sidebar-nav .list-inline .dropdown-menu .dropdown-item.active {
    background-color: transparent;
}

.sidebar-nav .list-inline li a svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    float: left;
}
.sidebar-nav .list-inline li.active {
    background: #1F2937;
    border-radius: 30px;
    margin-bottom: 20px !important;
}
.sidebar-nav .list-inline li.active a {
    color: #ffffff;
}

.sidebar-nav .list-inline li a svg path,
.sidebar-nav .list-inline li a svg rect {
    fill: #ffffff;
    opacity: 1;
}

.sidebar-nav .list-inline li.active a svg rect {
    fill: #0384FE;
    opacity: 1;
}

.sidebar-nav .list-inline li.active a svg path {
    fill: #0384FE;
}

.sidebar-nav .list-inline li.active .dropdown-item svg path {
    fill: #0384FE;
}

.main-content.app-content {
    width: 100%;
    max-width: calc(100% + -320px);
    position: relative;
    padding: 15px;
    margin: 15px 15px 15px 310px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.header .header-content .sidemenu-toggle h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
}
.header .header-content .sidemenu-toggle p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}


.header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-content .profile-dropdown .dropdown { 
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 51, 102, 0.1);
    border-radius: 10px;
    padding: 5px;
}
.header .header-content .profile-dropdown .dropdown .user_image { 
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}
.header .header-content .profile-dropdown p { 
    font-size: 16px;
    color: #ffffff;
}
.header .header-content .top-header-rightmenu {
    display: flex;
    align-items: center;
}
 .top-header-rightmenu .search-bar .form-control {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #0c1018;
    color: #ffffff;
    padding: 10px 16px;
    padding-left: 40px;
}
.top-header-rightmenu .search-bar .form-control:focus {
    box-shadow: none;
}

.top-header-rightmenu .search-bar .fa-magnifying-glass {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

/* dashboard page css  */

.main-content.app-content .dashboard-section {
    margin: 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 25px;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
}
.dashboard-section .dashboard-box {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;  
    height: 442px;
    overflow-y: auto;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
}
.dashboard-section .dashboard-box::-webkit-scrollbar {
    width: 4px;
  }
  .dashboard-section .dashboard-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #1F2937;
  }
  .dashboard-section .dashboard-box::-webkit-scrollbar-thumb {
    background-color: #1F2937;
    outline: 1px solid #1F2937;
  }
 .dashboard-box.monkmode,
 .dashboard-box .monkmode-sec .daycount-box {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 34px;
}
.dashboard-box .monkmode-sec h5 {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 15px;
}
.monkmode-sec .daycount-box h2 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
    padding-bottom: 10px;
}
.monkmode-sec .daycount-box h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}
.monkmode-sec .daycount-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.dashboard-box.monkmode .bottom-icons {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-box.monkmode .bottom-icons .icons-box {
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 70px;
    border-radius: 100%;
    text-align: center;
}
.dashboard-section .dashboard-box .comminty-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}
.dashboard-section .dashboard-box .sec-title {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 15px;
}
.dashboard-section .dashboard-box .call-list {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
}
.dashboard-section .dashboard-box .call-list p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}

/* Programs CSS start */

.programs-section {
    margin: 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
}
.programs-section .program-box img {
    width: 100%;
    height: 360px;
    object-position: center;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.programs-section .program-box img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal .modal-content {
    background-color: rgba(12, 16, 24, 0.80);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.modal .modal-header .btn-close {
    position: absolute;
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 100%;
    left: -20px;
    color: #ffffff;
    background: #000000;
}
.modal .phases-sec p,
.modal .course-sec p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    padding-bottom: 15px;
}

.programs-videos {
    position: relative;
    margin: 30px 0;
}
.programs-videos .sales-ecosystem,
.downloads-plug .downloads-box,
.programs-videos .downloads-plug,
.programs-videos .program-details {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
}
.programs-videos .program-details {
    padding: 25px;
}
.program-details .completed-badge a {
    color: #ffffff;
    background: hsla(167, 97%, 45%, 1);
    background: linear-gradient(90deg, hsla(209, 99%, 40%, 0.9) 10%, hsla(167, 97%, 45%, 1) 100%);
}
.sales-ecosystem select {
        background-color: #0c1018 !important;
      color: #ffffff !important;
}
.programs-videos .sales-ecosystem .sec-title,
.program-details .details-content h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    padding-bottom: 10px;
}
.program-details .details-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.programs-videos .program-image img {
    width: 100%;
    height: 660px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.downloads-plug .sec-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    padding-bottom: 15px;
}

.downloads-plug .downloads-box h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}
.ed-pagination .pagination {
    border: none;
    background: #0C1018;
}
.ed-pagination .pagination .disabled>.page-link,
.ed-pagination .pagination .page-link.disabled {
    background: #0C1018;
}
.ed-pagination .pagination .page-link { 
    background: #0C1018;
    border: none;
    color: rgba(255, 255, 255, 0.5);
}
.ed-pagination .pagination .page-item.active .page-link {
 color: #ffffff;
}
.sales-ecosystem .row {
    align-items: center;
}
.sales-ecosystem .sales-content h5 {
    font-size: 16px;
    line-height: 20px;
}
.sales-ecosystem .sales-content p {
    font-size: 14px;
    line-height: 18px;
}
.sales-ecosystem .check-svg {
    position: absolute;
    top: -3px;
    right: 0px;
}
.sales-ecosystem .sales-image a > img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.programs-videos .back {
    position: absolute;
    top: -20px;
    left: -8px;
}
.programs-videos .back i {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #0C1018;
    z-index: 1;
    position: relative;
}

/* Resources pages CSS start */

.resources-programs {
    position: relative;
    margin: 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 25px;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0,0,0, 0.3);
}
.resources-programs .search-bar .form-control {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #0c1018;
    color: #ffffff;
    padding: 10px 16px;
    padding-left: 40px;
}
.resources-programs .search-bar .fa-magnifying-glass {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}
.resources-list .resources-image {
    padding-bottom: 20px;
}
.resources-list .resources-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.resources-programs .back {
    position: absolute;
    top: -20px;
    left: -8px;
}
.resources-programs .back i {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #0C1018;
    z-index: 1;
    position: relative;
}
.resources-pdf .pdf-image img {
    width: 100%;
    height: 500px;
    object-position: 100% 5%;
    object-fit: cover;
    border-radius: 20px;
}
.resources-programs .downloads-box {
    padding: 30px;
}
.resources-programs .downloads-box h5 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 15px;
    width: 75%;
}

/* profile page CSS start */

.profile-section {
    position: relative;
    margin: 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 25px;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
.profile-section .sec-title h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    padding-bottom: 15px;
}
.profile-section .cover-images img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.profile-info .profile-image {
    margin-top: -100px;
    margin-left: 40px;
}
.profile-info .profile-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
}
.profile-info .name-details {
    padding: 30px;
}
.profile-info .name-details h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}
.profile-info .name-details p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.profile-info .save-btn .btn {
    border-radius: 10px;
    padding: 12px 20px;
    color: #ffffff;
}
.profile-section .profile-form {
    margin: 30px 0px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 25px;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
.iti__flag-box, .iti__country-name {
    color: #000;
}
.profile-form .form-group .form-select,
.profile-form .form-group .form-control {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #0c1018;
    padding: 14px 20px;
    color: #ffffff;
    border-radius: 10px;
}
.profile-form .form-group .form-select:focus,
.profile-form .form-group .form-control:focus {
    box-shadow: none;
}

/* billing page css start */

.billing-section {
    position: relative;
    margin: 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 25px;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
.billing-section .sales-overiew {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
}
.sales-overiew .time-period {
    display: flex;
    align-items: center;
}
.sales-overiew .time-period .current {
    margin: 0 10px;
}
.billing-section .sales-overiew .form-select {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #0c1018;
    padding: 14px 20px;
    color: #ffffff;
    border-radius: 10px;
}
.billing-section .customers-statues {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.billing-section .customers-statues h5 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}
.customers-statues .count-number {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
.customers-statues .count-number::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}
.customers-statues .count-number .border-right {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.customers-statues .count-number p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.customers-statues .count-number h4 {
    font-weight: 600                                                                ;
    font-size: 30px;                                                                                    
    line-height: 42px;
    color: rgba(255, 255, 255, 1);
}

.table-billing {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    margin: 30px 0;
}
.table-responsive .table>thead {
    border-color: #0c1018;
}
.table-responsive .table thead th,
.table-responsive .table tbody td {
    padding: 1.4rem 1.4rem;
}
.table-responsive .table tbody td {
    background-color: #0c1018;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border: none;
}
.table-responsive .table thead th {
    border: none;
    background-color: #1F2937;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.table-responsive table thead th:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.table-responsive table thead th:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.table-responsive table thead th .form-check-input {
    background-color: #1f2937;
    border-color: rgba(255, 255, 255, 0.5);
}
.table-responsive table tbody td .form-check-input {
    background-color: #0c1018;
    border-color: rgba(255, 255, 255, 0.5);
}
.table-responsive table thead th .form-check-input:focus,
.table-responsive table tbody td .form-check-input:focus {
    box-shadow: none;
}

/* Developer CSS start */


.program-edit {
    position: relative;
    margin: 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    -webkit-box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
.program-edit .form-group img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.program-edit .edit-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.program-edit .edit-btn .btn {
    padding: 10px 16px;
    border: 1px solid;
}
.program-edit .edit-btn .btn.remove {
    color: #0384FE;
    border-color: #0384FE;
}
.program-edit .edit-btn .btn.change {
    color:#ffffff;
    border-color: #ffffff;
    margin-left: 10px;
}
.program-edit .form-group .form-control {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #0c1018;
    color: #ffffff;
    padding: 10px 16px;
}
.program-edit .form-group .form-control:focus {
    box-shadow: none;
}
.program-edit .form-group .btn {
    padding: 10px 16px;
    color: #0384FE;
    border-color: #0384FE;
}
.program-edit .form-group .btn:hover {
    color: #ffffff;
}
.program-edit .image-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.program-edit .image-list .image-box {
   width: 20%;
   padding: 0 10px;
}
.program-edit .image-list .image-box .border-dash,
.program-edit .image-list .image-box img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.program-edit .image-list .image-box .border-dash {
    display: flex;
    align-items: center;
    border: 2px dashed #0384fe;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
}
.program-edit .edit-btn.add-new {
    top: 50%;
    transform: translateX(-50%);
}
.image-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.table-responsive .table thead th .form-check {
    margin-bottom: 0px;
    min-height: auto;
}
.profile-section .profile-form .save-btn .btn {
        padding: 14px 24px;
        margin-right: 10px;
}
.table-responsive .dataTables_wrapper .dataTables_filter input {
    border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: #0c1018;
        color: #ffffff;
        padding: 12px 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        font-size: 1rem;
        position: relative;
        padding-left: 40px;
}
div.dataTables_wrapper div.dataTables_filter label {
    position: relative;
}
div.dataTables_wrapper div.dataTables_filter label::after {
    content: '\f002';
        position: absolute;
        top: 37%;
        transform: translateY(-50%);
        left: 20px;
        font-family: "Font Awesome 6 Pro";
        font-size: 16px;
        color: #ffffff;
}
table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:after {
    bottom: 1.5em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
     margin-left: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button .page-link {
    background-color: #0C1018;
    color: #ffffff;
      border: 1px solid rgba(255, 255, 255, 0.2);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.active>.page-link {
background: #0d6efd;
}

.modal-body .course-sec img {
    width: 100%;
    height: 600px;
    object-position: 100% 5%;
    object-fit: cover;
    border-radius: 15px;
}
.phases-image .slider .slick-slide {
    margin: 0 10px;
}
.phases-image .slider .slick-slide img {
    width: 100%;
    height: 140px;
    object-position: center;
    object-fit: cover;
    border-radius: 15px;
}
.phases-image .slider .slick-track {
    margin-left: 0px;
}
.sales-ecosystem select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 15px;
}
.sales-ecosystem select:focus {
    box-shadow: none;
    outline: none;
}

/* Slide Pagination Css */

.news__arrows {
	display: flex;
	justify-content: center;
	align-items: center;
}

.news__arrow {
    width: 24px;
    height: 24px;
	cursor: pointer;
	filter: saturate(0%);
}

.news__arrow:hover {
	filter: saturate(100%);
}

.news__arrow_dir_left {
	background: url(../img/home/chevron-left.svg)
		no-repeat;
}

.news__arrow_dir_right {
	background: url(../img/home/chevron-right.svg)
		no-repeat;
}

.news__arrow_dir_up {
	background: url(../img/home/chevron-left.svg)
		no-repeat;
	transform: rotate(90deg);
}

.news__arrow_dir_down {
	background: url(../img/home/chevron-right.svg)
		no-repeat;
	transform: rotate(-90deg);
}

.news__dots {
	position: relative;
    width: 120px;
}

.news__dots-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.news__dots-list li {
	padding: 2px;
	font-weight: bold;
	font-family: arial;
	font-size: 16px;
	cursor: pointer;
	color: rgb(143, 143, 143);
	transition: .3s all;
	width: 18px;
	position: relative;
	z-index: 0;
	text-align: center;
}

.news__dots-list li:not(:last-child) {
    margin-right: 15px;
}
.news__dots-list li:after {
	content: "";
	display: block;
	position: absolute;
	left: 2px;
	right: 2px;
	top: calc(50% - 2px);
	height: 4px;
	background-color: grey;
	opacity: 0;
	transition: .3s all;
    display: none;
}
.news__dots-list li.slick-active {
	color: #ffffff;
}

.news__dots-list li.slick-active:after {
	opacity: 1;
}

 video:-webkit-full-page-media  {
        width: 100%;
            height: 500px;
}

video:-webkit-full-page-media {
    position: relative;
    width: 100%;
    height: 600px;
}

/* Developer CSS */

.resources-programs .downloads-box {
    margin-bottom: 40px;
}

.downloads-box.rs-phase-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.downloads-box.rs-phase-box .rs-phase-left-sec h2 {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
}

.downloads-box.rs-phase-box .rs-phase-left-sec p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;
}

.downloads-box.rs-phase-box .rs-phase-right-sec h1 {
    color: #ffffff;
    font-size: 80px;
    line-height: 80px;
    font-weight: 500;
}

.downloads-box.rs-phase-box .rs-phase-inner-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* == Responsive CSS start == */

@media screen and (max-width: 1600px) {
    .programs-videos .program-image img {
        width: 100%;
        height: 520px;
    }
    .resources-list .resources-image img {
        width: 100%;
        height: 360px;
    }
    .ed-login-box-sec {
        margin: 80px;
        padding: 50px;
    }
    .resources-pdf .pdf-image img {
        width: 100%;
        height: 420px;
    }
    .sales-ecosystem .sales-content h5 {
        font-size: 14px;
        line-height: 18px;
    }
    .program-edit .image-list .image-box {
        width: 25%;
    }
}
@media screen and (max-width: 1440px) {
    .header .header-content .sidemenu-toggle h4 {
        font-size: 20px;
        line-height: 24px;
    }
    .customers-statues .count-number {
        padding: 14px 0;
    }
    .customers-statues .count-number h4 {
        font-size: 24px;
        line-height: 30px;
    }
    .billing-section .sales-overiew .form-select {
        padding: 10px 16px;
    }
    .sales-ecosystem .sales-image a > img {
        margin-bottom: 15px;
    }
    .sales-ecosystem .row .col-6 {
        width: 100%;
    }
    .downloads-plug .downloads-box h5 {
        font-size: 16px;
        line-height: 20px;
    }
    .downloads-plug .sec-title {
        font-size: 20px;
        line-height: 24px;
    }
    .table-billing,
    .programs-videos .program-details,
    .programs-section,
    .main-content.app-content .dashboard-section,
    .billing-section .sales-overiew,
    .billing-section {
        padding: 20px;
    }
    .sidebar-nav .list-inline li a {
        font-size: 14px;
        line-height: 18px;
    }
    .programs-videos .program-image img {
        width: 100%;
        height: 420px;
    }
    .dashboard-box.monkmode .bottom-icons .icons-box {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .monkmode-sec .daycount-box p {
        font-size: 14px;
        line-height: 16px;
    }
    .monkmode-sec .daycount-box h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .monkmode-sec .daycount-box h2 {
        font-size: 42px;
        line-height: 42px;
    }
    .programs-videos .sales-ecosystem .sec-title,
     .program-details .details-content h4 {
        font-size: 20px;
        line-height: 24px;
    }
   
    .dashboard-box.monkmode, .dashboard-box .monkmode-sec .daycount-box {
        padding: 25px;
    }
    .dashboard-section .dashboard-box {
        height: 370px;
    }
    .resources-programs .downloads-box h5 {
        font-size: 20px;
        line-height: 28px;
    }
    .resources-programs .downloads-box {
        padding: 25px;
    }
   
    .resources-list .resources-image img {
        width: 100%;
        height: 300px;
    }
    .ed-login-box-sec .en-logo img {
        width: 220px;
    }
    .ed-login-box-sec {
        margin: 60px;
        padding: 40px;
    }
    .resources-programs,
    .programs-section,
    .main-content.app-content .dashboard-section {
        padding: 20px;
    }
    .main-content.app-content {
        max-width: calc(100% + -280px);
        margin: 15px 15px 15px 280px;
    }
    .app-sidebar {
        width: 280px;
        height: 100%;
    }
}
@media (min-width: 1400px) {
    .programs-section .col-lg-3 {
        flex: 0 0 auto;
        width: 20%;
    }
}
@media screen and (max-width: 1280px) {
    .program-edit .image-list .image-box {
        width: 33.33%;
    }
    .programs-videos .program-image img {
        width: 100%;
        height: 360px;
    }
    .resources-list .resources-image img {
        width: 100%;
        height: 260px;
    }
    .ed-login-box-sec {
        margin: 40px;
        padding: 30px;
    }
}
@media screen and (min-width: 992px) {
.app-sidebar #close {
    display: none;
}
}
@media screen and (max-width: 991px) {
    .ed-login-section::before {
        display: none;
    }
    .ed-login-section .ed-login-form-sec {
        overflow-y: auto;
        height: auto;
        margin-top: 40px;
    }
    .table-responsive .table thead th,
    .table-responsive .table tbody td {
        padding: 1rem 1rem;
        white-space: nowrap;
    }
    .resources-list .resources-image img {
        width: 100%;
        height: 320px;
    }
    .sales-ecosystem .row .col-6 {
        width: 50%;
    }
    .sales-ecosystem .row {
        float: left;
        width: 50%;
        margin: 0px;
    }
    .programs-videos .sales-ecosystem {
        width: 100%;
        display: inline-block;
    }
    .header .header-content .sidemenu-toggle h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .billing-section .sales-overiew,
    .programs-videos .downloads-plug,
    .downloads-plug .downloads-box,
    .dashboard-section .dashboard-box {
        margin-bottom: 20px;
    }
    .app-sidebar.hidden #close {
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .app-sidebar.hidden #close i {
        width: 20px;
        height: 20px;
        border: 1px solid;
        line-height: 20px;
        text-align: center;
        border-radius: 100%;
        font-size: 12px;
    }
    .app-sidebar.hidden {
        margin-left: 0;
        background: #0c1018;
        z-index: 11;
        border-radius: 20px;
        border: none;
    }
    .main-content.app-content {
        max-width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .app-sidebar {
        width: 300px;
    }
    .app-sidebar .logo-sec {
        padding-top: 20px;
    }
    .app-sidebar {
        margin-left: -320px;
    }
    .ed-login-section .ed-login-image {
        display: none;
    }
    
    .modal .modal-header .btn-close {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 767px) {
    .app-sidebar .profile-header h4 {
        font-size: 18px;
        line-height: 28px;
    }
    .ed-pagination.pt-5 {
        padding-top: 1rem !important;
    }
    .sidebar-nav .list-inline li {
        padding: 16px;
    }
    .sales-overiew .time-period .current {
        margin: 0 5px;
    }
    .billing-section .sales-overiew .form-select {
        padding: 10px 16px;
        font-size: 14px;
    }
    .sales-overiew .time-period {
        margin-bottom: 15px;
    }
    .sales-overiew .time-period .current {
        font-size: 14px;
        line-height: 20px;
    }
    .sales-overiew .sec-title h5 {
        font-size: 16px;
        line-height: 24px;
    }
    .sales-ecosystem .sales-image a > img {
        margin-bottom: 10px;
    }
    .dashboard-section .dashboard-box {
        height: auto;
    }
    .sales-ecosystem .row .col-6 {
        width: 100%;
    }
    .program-edit .image-list .image-box {
        width: 50%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 576px) {
    .profile-section .profile-form .save-btn .btn {
       
        width: 100%;
        margin-top: 15px;
    }
    .programs-section .program-box img {
        width: 100%;
        height: 480px;
    }
    .profile-info .d-flex {
        display: flex !important;
        align-items: center;
        flex-direction: column;
    }
    .profile-info .profile-image {
        margin-top: 20px;
        margin-left: 0px;
    }
    .profile-section .cover-images img {
        width: 100%;
        height: 220px;
    }
    .profile-info .profile-image img {
        width: 180px;
        height: 180px;
    }
    .ed-login-box-sec .login img {
        width: 220px;
    }
    .programs-videos .program-image img {
        width: 100%;
        height: 300px;
    }
    .sidemenu-toggle h4.ps-4 {
        padding-left: 0.6rem !important;
    }
    .downloads-plug .downloads-box {
        padding: 10px;
    }
    .form-select,
    .form-control {
        font-size: 14px;
    }
    .programs-videos .back i,
    .resources-programs .back i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .ed-login-form .otp-sec .otp-round {
        gap: 5px;
    }
    .resources-list .resources-image img {
        width: 100%;
        height: 360px;
    }
    .phases-sec .phases-image img {
        padding-bottom: 15px;
    }
    .modal .modal-header .btn-close {
        left: -5px;
    }
    .header .header-content .top-header-rightmenu .profile-dropdown {
        flex: 1;
        text-align: inherit;
    }
    .header .header-content .top-header-rightmenu .search-bar {
        flex-basis: 200px;
    }
    .header .header-content .top-header-rightmenu {
        width: 100%;
    }
    .header .header-content .sidemenu-toggle {
        margin-bottom: 20px;
    }
    .header .header-content {
        align-items: flex-start;
        flex-direction: column;
    }
    .ed-login-box-sec .ed-login-form .form-control {
        padding: 12px 18px;
    }
    .ed-login-box-sec .en-logo img {
        width: 200px;
    }
    .ed-login-box-sec {
        margin: 40px 0px;
        padding: 20px;
        border: none;
    }
    .resources-programs .sec-title,
    .downloads-plug .sec-title,
    .programs-videos .sales-ecosystem .sec-title, .program-details .details-content h4 {
        font-size: 16px;
        line-height: 26px;
    }
    .downloads-plug .downloads-box h5 {
        font-size: 14px;
        line-height: 18px;
    }
    
.downloads-box.rs-phase-box .rs-phase-right-sec h1 {
    font-size: 60px;
    line-height: 80px;
}
.program-edit .form-group .btn {
    margin-bottom: 15px;
}
.program-edit .edit-btn.add-new {
    top: 35%;
}
.program-edit {
    padding: 20px;
}
}
@media screen and (max-width: 500px){
    .program-edit .image-list .image-box {
        width: 100%;
    }
.sales-ecosystem .row {
    float: left;
    width: 100%;
}
}
@media screen and (max-width: 400px){
    .header .header-content .top-header-rightmenu .search-bar {
        flex-basis: 160px;
    }
}
